.cards__item {
  max-width: 240px;
  margin: 0 100px 0 0;
  /*
  x*3 + 100 + 100 = 920
  x = (920 - 100 - 100)/3 = 240
  */
}

/*.cards__item:not(:nth-child(3n)) {*/
/*margin: 0 100px 0 0;*/
.cards__item:nth-of-type(3n+3) {
  margin: 0;
}
